.body {
background-color:black;
color:white;
}
.flexbox {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}
.items {
    margin: 10vh;
    outline: 0.2vh double white;
    outline-offset: 8vh;
}
.navbar {
    margin: 1vh;
    outline-offset: 0.5vh;
}
